extends ../base.pug
block content
  h3 #{errorMessage}
  form( method="POST")
    input(type="text" name="currentPW" required placeholder="Current Password" )
    input(type="text" name="newPW" required placeholder="New Password" )
    input(type="text" name="newPWConfirm" required placeholder="New Password confirm" )
    input(type="submit")