extends base.pug
block content
  h3 #{errorMessage}
  form( method="POST")
    input(type="text" name="username" required placeholder="username" value=(user.username) ? `${user.username}` : "")
    input(type="password" name="password" required placeholder="password")
    input(type="submit" value="login")
  hr
  div 
      span Don't have an account? 
      a(href="/join") Create one now &rarr;