.input{
  height: 100%;
  
}
.input.text{
  padding: 0 0 0 0;
  border : none;
  border-radius: 5px 0px 0px 5px;
  padding: 0 0 0 10px;
}
.input.button{
  background-color: darkorange;
  color : white;
  border: 0px;
  padding: 0 10px 0 10px;
  border-radius: 0px 5px 5px 0px;
}